{% extends 'coop/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<div class="container">
    <h1>
        <center>Help!<img src="{% static 'images/coop.png' %}" width=80px height=80px></center>
    </h1>
    <div class="box_about"></div><br>
    <h4>
        FAQs:
    </h4>
    <br><br>
    <h6>
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
    </h6>
    <br><br>
    <h6>
        blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah  
    </h6>
</div>
</div>
</body>
{% endblock %}