{% extends 'coop/base.html' %}

{% block content %}
  <h2>List of Notes</h2>
  <a href="{% url 'upload_note' %}" class="btn btn-primary">Upload Notes</a>
  <table class="table">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Topic</th>
        <th>Description</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      {% for note in notes %}
      <tr>
        <td>{{note.courseName}}</td>
        <td>{{note.topic}}</td>
        <td>{{note.description}}</td>
        <td>
          <a href="{{ note.noteFile.url }}" class="btn btn-primary btn-sm">
            Download Notes
          </a>
        </td>
        <td>
          <form action="{% url 'delete_note' note.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete Note</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
