
{% extends 'coop/base.html' %}

{% block content %}
<div class = "container">
<div class="sidenav">
  <img class="rounded-circle account-img ml-3" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width = 55px height = 55px >
  <span> {{user.username}}</span>
  <a href="#">My Notes</a>
  <a href="#">Subscriptions</a>
  <a href="#">My Notes</a>
  <a href="#">Upload Notes</a>
  <a href="settings/">Settings</a>
</div>
</div>
<div class = "container col-md-9">
<div class = "alert alert-danger mt-3 ml-4">
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img mr-3" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width = 75px height = 75px >
    <div class="media-body">
      <h2 class="account-heading">Welcome, {{user.username}}</h2>
      <p class = "text-secondary">{{user.email}}</p>
      <p class="text-secondary">{{user.bio}}</p>
    </div>
  </div>
  <!-- FORM HERE -->
</div>
</div>
</div>

{% endblock %}
