
{% extends 'coop/base.html' %}

{% block content %}
<div class = "container">
<div class="sidenav">
  <img class="rounded-circle account-img ml-3" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width = 55px height = 55px >
  <span> {{user.username}}</span>
  <a href="profile/subscriptions/">Subscriptions</a>
  <a href="profile/userNotes/">My Notes</a>
  <a href="profile/upload/">Upload Notes</a>
  <a href="profile/settings/">Settings</a>
</div>
</div>
<div class = "container col-md-9">
<div class = "alert alert-danger mt-3 ml-4">
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img mr-3" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width = 75px height = 75px >
    <div class="media-body">
      <h2 class="account-heading">Welcome, {{user.username}}</h2>
      <p class = "text-secondary">{{user.email}}</p>
      <p class="text-secondary">{{user.bio}}</p>
    </div>
  </div>
  
  <!-- FORM HERE -->
</div>
</div>
<div class = "row ml-2">
<div class="card ml-4" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">My Bio:</h5>
    <p class="card-text">I am a 2nd year CS student studying at the University of Virginia. Follow me for well written notes from various
      CS classes/electives at my school!
    </p>
  </div>
</div>
<div class="card ml-4" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">My Earnings:</h5>
    <h6 class="card-subtitle mb-2 text-muted">Earnings from the last 30 days</h6>
    <p class="card-text-2" style="color:rgb(58, 197, 58);""> Topic: Recursion - $8
    <p class="card-text-2" style="color:rgb(58, 197, 58);""> Topic: Model view controller - $3
    </p>
  </div>
</div>
</div>
</div>

{% endblock %}
