{% extends 'coop/base.html' %}

{% block content %}
<div class = "container">
  <div class="sidenav">
    <img class="rounded-circle account-img ml-3" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width = 55px height = 55px >
    <span> {{user.username}}</span>
    <a href="profile/subscriptions/">Subscriptions</a>
    <a href="profile/userNotes/">My Notes</a>
    <a href="profile/upload/">Upload Notes</a>
    <a href="profile/settings/">Settings</a>
  </div>
</div>
<div class = "container col-md-9">
  <div class = "alert alert-danger mt-3 ml-4">
    <div class="media-body">
      <h2 class="account-heading">Settings</h2>
    </div>
  </div>
  <!-- FORM HERE -->
</div>
{% endblock %}
