{% extends 'coop/base.html' %}

{% block content %}
  <div class = "container">
    <div class="sidenav">
      <img class="rounded-circle account-img ml-3" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width = 55px height = 55px >
      <span> {{user.username}}</span>
      <a href="profile/myNotes/">My Notes</a>
      <a href="#">Subscriptions</a>
      <a href="#">My Notes</a>
      <a href="#">Upload Notes</a>
      <a href="settings/">Settings</a>
    </div>
  </div>

  <div class="container">
    <h1>
      <center>
        My Notes
      </center>
    </h1>
  </div>

  {% for note in notes %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        Course: {{note.courseName}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Topic: {{note.topic}}</h5>
        <p class="card-text">Description: {{note.description}}</p>
        <a href="{{ note.noteFile.url }}" class="btn btn-primary btn-sm">
          Download Notes
        </a>
        <form action="{% url 'delete_note' note.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Delete Note</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
